.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: 200px;
  background-color:blanchedalmond;
}

a   {
    background-color: darkorchid;
    width: 100px;
    flex: 0 1 auto;
    text-align: center;
}

/* For devices with a minimum width of 768px */
@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
}
}